.toolbox.vertical {
	left: unset;
	right: 1em;
}

.coordinates {
	bottom: 1em;
	left: 50%;
	position: absolute;

	span {
		padding-left: 1em;
	}

	span:first-child {
		padding-left: 0;
	}

	.startDrag:after {
		content: "\1F816";
		padding-left: 1em;
	}
}
