<mat-expansion-panel>
	<mat-expansion-panel-header>
		<h2>Tiles</h2>
    </mat-expansion-panel-header>

	<ul cdkDropList [cdkDropListData]="config.sources.tile" (cdkDropListDropped)="drop($event)">
		<li *ngFor="let sourceConfig of config.sources.tile" cdkDrag [cdkDragData]="sourceConfig">
			<mat-slide-toggle [checked]="!sourceConfig.disabled" (toggleChange)="toggle(sourceConfig)"></mat-slide-toggle>
			<label [class.disabled]="sourceConfig.disabled" cdkDragHandle>{{sourceConfig.name}}</label>
			<mat-slider
					min="0" max="1" step="0.01" tickInterval="10" value="1"
					[(ngModel)]="sourceConfig.opacity"
					(ngModelChange)="disableIfNoOpacity(sourceConfig)"
					title="Opacity"
					[disabled]="sourceConfig.disabled">
			</mat-slider>
		</li>
	</ul>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<h2>POI</h2>
    </mat-expansion-panel-header>

	<ul>
		<li *ngFor="let sourceConfig of config.sources.poi">
			<mat-slide-toggle [checked]="!sourceConfig.disabled" (toggleChange)="toggle(sourceConfig)"></mat-slide-toggle>
			<label [class.disabled]="sourceConfig.disabled">{{sourceConfig.name}}</label>
		</li>
	</ul>
</mat-expansion-panel>
