@import "fontawesome";
@import "vars";

html, body {
	color: var(--text-primary-color);
	font-size: 12px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

h1, h2 {
	margin: .5em;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.1em;
}

button, [role="button"] {
	background: transparent;
	border: none;
	color: mat-color(map-get($theme-colors, accent), darker);
	cursor: pointer;
	outline: none;

	&.expand {
		&:before {
			@include fa-icon($fa-var-chevron-down);
		}
	}

	&.collapse {
		&:before {
			@include fa-icon($fa-var-chevron-up);
		}
	}

	&.image {
		&:before {
			@include fa-icon($fa-var-image);
		}
	}

	&.delete, &.remove, &.clear, &.close, &.reset {
		&:before {
			@include fa-icon($fa-var-times);
		}
	}

	&.help {
		&:before {
			@include fa-icon($fa-var-question);
		}
	}
}

.opacity {
	&:before {
		@include fa-icon($fa-var-adjust);
	}
}

.scale {
	&:before {
		@include fa-icon($fa-var-search);
	}
}

a {
	text-decoration: none;

	&[target="_blank"]:after {
		@include fa-icon($fa-var-external-link);
		font-size: .5em;
		padding-right: .5em;
		vertical-align: top;
	}
}

label {
	display: inline-block;
	margin-right: .5em;
	vertical-align: middle;

	&.disabled {
		text-decoration: line-through;
	}
}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

dt {
	font-style: italic;
	margin-top: .5em;
}

[hidden] {
    visibility: hidden;
    display: block;
}
