.mat-expansion-panel-header {
	font-size: 1em;
	height: 3em;

	&.mat-expanded {
		height: 4em;
	}
}

div.mat-expansion-panel-body {
    padding: 0 2em 1em 4em;
}

.mat-expansion-panel.invert .mat-expansion-panel-header {
	transform: rotate(180deg);
}

.toolbox.vertical {
	background-color: rgba(mat-color(map-get($theme-colors, accent)), 0.5);
	display: flex;
	flex-flow: column;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;

	.mat-expansion-panel-header {
		height: 2em;
		padding: 0 1em;

		.mat-content {
			display: none;
		}

		.mat-expansion-indicator {
			margin: auto;
		}
	}

	div.mat-expansion-panel-body {
		padding: 0;
		text-align: center;

		> * {
			display: block;
			margin: auto;
			text-align: center;
		}
	}

	mat-slider {
		max-width: 100%;
	}
}
