
@import "fontawesome";

.me {
	color: navy;
	position: absolute;

	&:before {
		@include fa-icon($fa-var-bullseye);
	}
}

.follow-me {
	color: lightskyblue;

	&.active {
		color: navy;
	}

	&.error {
		color: darkred;
	}

	&:before {
		@include fa-icon($fa-var-bullseye);
	}
}
